body {
	font-family: Arial;
	margin: 0;
	padding: 0;
	width: 100%;
}

#main.hide {
	display: none;
}

#footer.hide {
	display: none;
}

.router-view {
	width: 550px;
	margin: 0 auto;
}

.main-view {
	width: 550px;
	margin: 0 auto;
}