<div class="get-started">
	<div class="scroller">
			<div class="btn" onclick="@close">Close</div>
			<h1>Get Started</h1>
			<p>
				Getting started with stackJS framework is very easy.<br>StackJS is made for developers who wants their client-side code to be organized and clean.<br>
				This screen will show you how to do this magic.
			</p>
			<p>
				StackJS framework let you build great web and mobile applications with javascript.
				<br>
				StackJS keeps your application code readable and makes your developement process swift and simple.
				<br><br>
				So, enought with the boolshit, lets go and learn stackJS.
			</p>
			<h2>1. The Class</h2>
			<p>
				Creating a new class in StackJS:
			</p>
			<textarea>
		Class('Human', {
			
			name: null,
			age: null,
			
			// Constructor
			Human: function(name, age) {
				this.name = name;
				this.age = age;
			},

			sayHello: function() {
				console.log("Hello, my name is " + this.name + " and I'm " + this.age + " years old");
			}
		});

		// Create a new object

		// If you defined a constructor: 
		var myHuman = new Human('John', 30);

		// If you don't have any constructor, use the stackJS object default constructor:
		var myHuman = new Human({name: 'John', age: 30});

		myHuman.sayHello();
			</textarea>
			<h2>2. Inheritance</h2>
			<p>
				You can inherit from another class:
			</p>
			<textarea>
		Class('Kid::Human', {
			
			// Constructor
			Kid: function(name, age) {
				this.name = name;
				this.age = age;
			}
		});

		// Create an object:
		var myKid = new Kid('Danny', 10);
		myKid.sayHello();
			</textarea>
			<p>
				StackJS creates setters and getters automatically for you!
			</p>
			<textarea>
		Class('Student::Human', {
			
			title: null,
			yearsLeft: null

		});

		var student = new Student();
		student.setName('John');
		student.setAge(30);
		student.setTitle('Computer science');
		student.setYearsLeft(2);

		student.getTitle(); // prints 'Computer science'
			</textarea>
			<h2>3. Singletons</h2>
			<p>
				StackJS class system supports singletons out of the box.
				<br>
				When a class is accessed for the first time without the 'new' statement. a new shared object is created and all class calls will return that instance.
				<br>
				<textarea>
		Class('MySingleton', {
			
			var1: null,
			var2: null,

			doSomething: function() {
				...
			}
		});			

		var object1 = MySingleton();
		var object2 = MySingleton();

		// object1 == object2.
				</textarea> 
			</p>
			<h2>4. Static Methods</h2>
			<p>
				You can even create a static methods if you build a factory or a service class.
				<br>
				Just use the '$' sign as a prefix to method name.
			</p>
			<textarea>

		Class('Car', {
			
			color: null,

			Car: function(color) {
				this.color = color;
			}
		});

		Class('CarFactory', {

			$createNewCar: function(color) {
				return new Car(color);
			}
		});

		var redCar = CarFactory.createNewCar('red');
			</textarea>
			<h2>5. The Stack</h2>
			<p>
				StackJS manages a call stack programmatically.
				<br>
				You can print, save or send the stack during runtime to know exactly the root cause of any user failue without trying to reproduce the issue yourself.
			</p>
			<textarea>
		Class('A', {
			
			print: function() {
				// print the stack to console.log or return the stack calls string;
				var trace = StackJS.trace();
				// save trace to server...
				// ...
				// ...
				return 'class A';
			}
		});

		Class('B', {
			
			printA: function(a) {
				a.print();
			}
		});

		var b = new B();
		b.printA(new A());
			</textarea>
			<h2>6. Object Delegation</h2>
			<p>
				Any stackJS object can be a delegate for another object.
				<br>
				The object delegation in stackJS is a powerfull feature which gives developers the ability to create complex and self contained modules as 'blackboxes' and define an API for another modules which are used as their delegates.  
			</p>
			<textarea>
		Class('ListView', {
			
			print: function() {
				// call delegate methods (doesn't crash if methods does not exists)
				// callDelegate([method name], [parameters], [default value])
				var size = this.callDelegate('listSize', null, 0);
				for (var i = 0; i &lt; size; i++) {
					var itemView = {};
					this.callDelegate('listItemView', [itemView, i]);
					console.log('item: ' + itemView.view);
				}
			}

		});

		// ListView Delegate
		Class('MyView', {
			
			todos: [
				{label: 'Clean the room', done: false},
				{label: 'Eat dinner', done: true},
				{label: 'Go out with the dog', done: false}
			],

			print: function() {
				var listView = new ListView();
				listView.setDelegate(this);
				listView.print();
			},

			// Delegation methods
			listSize: function() {
				return this.todos.length;
			},

			listItemView: function(itemView, index) {
				itemView.view = this.todos[index].label + ": " + this.todos[index].done;
			}
		});
			</textarea>
			<p>
				Lets see an example of the Android SDK Adapter implementation.
			</p>
			<textarea>
Class('ListView', {
	
	listViewHTML: "",
	
	ListView: function() {
		this.listViewHTML = "";
	},

	setAdapter: function(listViewAdapter) {
		this.setDelegate(listViewAdapter);
	},

	renderListView: function() {
		var count = this.callDelegate('getCount', null, 0);
		this.listViewHTML = "<ul>";
		for (var i = 0; i < count; i++) {
			var view = this.callDelegate('getView', [i]);
			this.listViewHTML += "<li>" + view + "</li>";
		}
		this.listViewHTML += "</ul>"
		return this.listViewHTML;
	}
});

Class('ListViewAdapter', {
	
	todos: ['go home', 'eat breakfest', 'do homework'],

	getCount: function() {
		return todos.length;
	},

	getView: function(position) {
		return "<a>" + this.todos[i] + "</a>";
	}
});
			</textarea>
			<h1>The Application Framework</h1>
			<p>
				The application framework gives you the tools you need to create great mobile and web apps.
			</p>
			<h2>1. The Application Tree</h2>
			<p>
				Each stackJS mobile app includes the directory tree:
				<ul>
					<li>
						<a>Root</a>
						<ul>
							<li>
								<a>app</a>
								<ul>
									<li><a>views</a></li>
									<li><a>templates</a></li>
									<li><a>models</a></li>
									<li><a>services</a></li>
									<li><a>main.js</a></li>
								</ul>
							</li>
							<li><a>assets</a><ul><li><a>images</a></li><li><a>sounds</a></li></ul></li>
							<li><a>config</a><ul><li><a>config.json</a></li></ul></li>
							<li><a>css</a></li>
							<li><a>lib</a><ul><li><a>stackjs.js</a></li></ul></li>
							<li><a>index.html</a></li>
						</ul>
					</li>
				</ul>
			</p>
			<h2>2. The View Controller</h2>
			<p>
				The view controller object represents a view controller in your app.
				Each view controller has a template, html file or html string.
				<br>
				The view extends the STView class.
			</p>
			<p>Lets create a new view.</p>
			<textarea>
		Class('TableView::STView', {
			
			template: 'table-view',

			render: function() {
				// called when the view is rendered
			}

		});	
			</textarea>
			<p>
				The template property represents the name of the html template for the view.
				<br>
				When the class 'TableView' is created, the StackJS engine caches the template file and when the view is initialized, a dom element is generated inside the view.
			</p>
			<p>Lets create a template for our table view inside the templates directory with the name: table-view.html</p>
			<textarea>
			<div class='table-view'>
				<h1>Table Title</h1>
				<div class="content"></div>
			</div>		
			</textarea>
			<p>
				You can also attach the html string to the view controller withour using a template file with the html property.
				<br>
				This is highly recommended if you choose to work with a module loader like requirejs.
			</p>
			<textarea>
				// myview.js file
				define(['text!templates/mytemplate.html'], function(myTemplateString){
					
					Class('MyView::STView', {

						html: myTemplateString
					});
				});

				// or without requirejs:
				Class('MyView::STView', {

					html: '<div>my view</div>'
				});
			</textarea>
			<h2>3. Outlets</h2>
			<p>
				Outlets are used to connect between the template element and the view controller.
				<br>
				Lets go back to our example and create outlet for the table title.
			</p>
			<textarea>
		<div class='table-view'>
			<h1 outlet="@tableTitleElement">Table Title</h1>
			<div class="content"></div>
		</div>
			</textarea>
			<p>And a reference inside our view controller:</p>
			<textarea>
		Class('TableView::STView', {
			
			template: 'table-view',

			tableTitleElement: null,

			render: function() {
				// called when the view is rendered
			}
		});	
			</textarea>
			<p>
				When the view will be rendered, the 'tableTitleElement' property will hold the 'h1' dom element and we will be able to update it.
			</p>
				<textarea>
		Class('TableView::STView', {
			
			template: 'table-view',

			tableTitleElement: null,

			render: function() {
				this.tableTitleElement.innerHTML = 'My First Table';
			}
		});	
			</textarea>
			<h2>4. Actions</h2>
			<p>
				Actions are used to connect between the dom events and the view controller methods.
				<br>
				Lets define an action which represents a user click on the table title.
			</p>
			<textarea>
		<div class='table-view'>
			<h1 outlet="@tableTitleElement" onclick="@onClickTableTitle">Table Title</h1>
			<div class="content"></div>
		</div>
			</textarea>
			<p>
				And the method inside our view controller.
			</p>
			<textarea>
		Class('TableView::STView', {
			
			template: 'table-view',

			tableTitleElement: null,

			render: function() {
				this.tableTitleElement.innerHTML = 'My First Table';
			},

			onClickTableTitle: function(evt) {
				// called when the user clicks on the table title
			}
		});	
			</textarea>
			<h2>5. Put it all together</h2>
			<p>
				Now, lets create a new view which represents a table view item.
			</p>
			<textarea>
		Class('TableItemView::STView', {
			
			template: 'table-item-view',
			labelElement: null,

			render: function() {
				this.labelElement = this.model.label;
			},

			onClickItem: function() {
				// yes, each table item view holds the table view as its delegate.
				this.callDelegate('itemIsClicked', [this.model]);
			}
		});
			</textarea>
			<p>And the template.</p>
			<textarea>
		<div class='table-item'>
			<a outlet="@labelElement" onclick="@onClickItem"></a>
		</div>		
			</textarea>
			<p>Now lets render the table view with items</p>
			<textarea>
		Class('TableView::STView', {
			
			template: 'table-view',

			tableTitleElement: null,

			render: function() {
				this.tableTitleElement.innerHTML = 'My First Table';
				for (var i = 0; i &lt; this.model.items.length; i++) {
					// add view method to add a view as a subview for another view.
					// addView([view object], [container selector (optional)]);
					this.addView(new TableItemView({model: this.model.items[i], delegate: this}), 'div.content');
				}
			},

			onClickTableTitle: function(evt) {
				// called when the user clicks on the table title
			},

			// table view item delegate method
			itemIsClicked: function(model) {
				// do something.
			}
		});	
			</textarea>
			<h2>6. Application Main</h2>
			<p>
				The application main is the main.js file under the app directory.
				<br>
				The application main starts the app with your main view.
			<p>
			<textarea>
		(function() {
			/*
				run application controller with your main view class: 'ApplicationView'
			*/
			return new STApplication({ view: ApplicationView });	
		})();
			</textarea>
			<h2>7. Application Services</h2>
			<p>
				The StackJS application framework comes with several services that any application needs.
			</p>
			<p>
				The STApplication creates a global variable reference called 'App'.
				<br>
				The application creates instances for each service. 
			</p>
			<p><u>STUserSettings</u></p>
			<p>
				The STUserSettings holds a map of keys and values which is dedicated for user settings .
				This data is saved on the browser local storage.
				This service can save and fetch also json object. (you dont need to parse and stringify your objects) 
			</p>
			<textarea>
		// save key and value
		App.settings.set([key], [value]);

		// get value of a key
		var value = App.settings.get([key]);
			</textarea>
			<p><u>STNotificationCenter</u></p>
			<p>
				The STNotificationCenter is used to post and listen to events over the App.
			</p>
			<textarea>
		Class('LoginView::STView', {
			
			loginSuccess: function(user, password) {
				App.notificationCenter.postNotification('UserLoggedInNotification', { user: user, password: password});
			}
		});

		Class('ToolbarView::STView', {
			
			userImageEl: null,

			// C'tor
			ToolbarView: function() {
				App.notificationCenter.addObserver(this, this.onUserLoggedIn, 'UserLoggedInNotification');
			},
			
			onUserLoggedIn: function(notificationObject) {
				// update user image on toolbar after login
				this.userImageEl.src = this.facebookConnect.getUserImageURI(notificationObject.user);
			}
		});
			</textarea>
			<p><u>STServer</u></p>
			<p>
				The STServer represents a server which can be your application server or any other thirdparty server.
				<br>
				You can define as many servers as you like.
			</p>
			<textarea>
		// Define your application server
		Class('MyServer::STServer', {
			
			// the default domain is the current app domain
			domain: 'http://[myserver]/[myapp]/rest',

			login: function(user, password, success, error) {
				this.post('/login/', { user: user, password: password}, {headers...}, success, error);
			},

			getUser: function(userId, success, error) {
				this.get('/users/:userId', { userId: userId}, null, success, error);
			}
			...
			...
		});

		// Access to server
		MyServer().login('myuser', 'mypassword', function(userObject){
			// do things after user has logged in...
		}, null);
			</textarea>
			<br>
			<p><u>STDatabase</u></p>
			<p>
				The STDatabase handle WebSql database.
			</p>
			<textarea>
				// Open a new database
				var myDatabase = new STDatabase({name: 'my-db', version: '1.0', size: 50 * 1024 * 1024});
				
				// insert a new row into database to users table
				myDatabase.save('users', {id: 1, name: 'john', email: 'john@john.com'});

				// select from database
				myDatabase.get('users', {name: 'john'}, function(items){
					for (var i = 0; i &lt; items.length; i++) ...
				});
			</textarea>
			<p>Or...</p>
			<textarea>
				Class('MyDatabase::STDatabase', {
					
					name: 'my-db',
					version: '1.0',
					size: 50 * 1024 * 1024,

					getAllUsers: function(callback) {
						this.get('users', {}, callback); 
					},

					...
					...
				});

				MyDatabase().getAllUsers(function(users){
					...
				});
			</textarea>
			<p><u>STStrings</u></p>
			<p>
				STStrings handles your applications dictionary.
				STStrings can be accessed from the global variable 'Strings'.
				<br>
				The dictionary files will be defined inside the application config.json file:
			</p>
			<textarea>
				// config.json
				{
					"strings": {
						"english": "config/strings.english.json",
						"russian": "config/strings.russian.json"
					}
				}
				// strings.english.json
				{
					'hello_world': 'Hello World',
					'click': 'Click',
					...
				}
			</textarea>
			<p>
				Access string from template file:
			</p>
			<textarea>
				<div>
					<p>@strings.hello_world</p>
					<button>@strings.click</button>
				</div>
			</textarea>
			<p>
				Access string from javascript file:
			</p>
			<textarea>
				Class('MyView::STView', {
					
					render: function(){
						this.select('div.button').innerHTML = Strings.get('click');
					}
				});
			</textarea>
			<br>
			<p>
				That's it, you are now ready to create your first app on StackJS IDE.
			</p>
			<p align="center" class='clickable' onclick="@close">Close</p>
			<br><br><br><br><br><br>
	</div>
</div>